ML_CLIENT_ID=your_mercado_livre_app_id
ML_CLIENT_SECRET=your_mercado_livre_secret
ML_REDIRECT_URI=https://radar-2-0-littleghoost.fly.dev/auth/mercadolivre/callback
OAUTH_STATE_SECRET=generate_a_long_random_value
